<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p class="lead" style="text-align: left;">
          Our humble roots began in February, 2014 when our lead guitarist, Greg McGee,
          approached keyboard player/multi-instrumentalist Pat Lucey (Monkey’s Uncle),
          bass player/multi-instrumentalist Garrison Locke (Nathan Oliver; Route 55 Jazz Orchestra)
          and rhythm guitarist Hugh Willard, with the idea of getting together to jam some in
          Greg’s backyard barn. We had all played together for several years in our church’s
          Praise band, and were interested in also feeding our musical wanderlust.
        </p>
        <p class="lead" style="text-align: left;">
          We started by each suggesting favorite tunes from the 60’s through today, and then
          rollicking through. Soon enough we were asked to play our first formal gig, a
          private event in September 2014. The crowd loved the show and our musical fates
          were sealed. We’ve played numerous private events as well as charity fundraisers, 
          occasional bar gigs, and even several Farmer’s Markets, all to great acclaim and enthusiasm.
        </p>
        <p class="lead" style="text-align: left;">
          In 2019, Jim Salmonson joined as our drummer and percussionist.  He has played with all types of genres 
          in the community for large and small ensembles ranging from local churches and jam bands to jazz groups 
          and October oompah bands (yes oompah) – as well as pop and rock projects since the 1990s.  
          Jim brings a passion for driving dynamic rhythms and energy to Thursday's Flight that has taken our 
          original songs to a whole new altitude!
        </p>
        <p class="lead" style="text-align: left;">
          We branched out to writing and recording our own material, including being
          commissioned to write/record the theme song for author Tony Bowman’s audiobook
          version of his award-winning novel, Valkyrie: The Road. We were also commissioned
          to write/record a tribute song for the Southern Wake Relay For Life in 2016.
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
