<header id="top" class="header">
  <div class="text-vertical-center">
    <div class="logo-container">
      <img src="img/logo.png" alt="{{ site.band_name }}" class="band-logo">
    </div>
    <h2 class="band-name">{{ site.band_name }}</h2>
    <h3 class="band-tagline">{{ site.band_genre }} from {{ site.band_location }}</h3>
    <br>
    <div class="header-buttons">
      <a href="#about" class="btn btn-outline-light btn-lg">Learn More</a>
      <a href="#albums" class="btn btn-outline-light btn-lg">Our Music</a>
      <a href="#gigs" class="btn btn-outline-light btn-lg">Live Shows</a>
      <a href="#merch" class="btn btn-outline-light btn-lg">Merch</a>
      <a href="#contact" class="btn btn-outline-light btn-lg">Contact</a>
    </div>
  </div>
</header>
