<header id="top" class="header">
  <div class="text-vertical-center">
    <img style="border: 10px solid #FFF;" src="/img/almost-there-album-cover.jpg" width="400" height="400" alt: "" />
    <p style="font-size: 1.5em; font-weight: bold; margin-top: 10px;">NOW AVAILABLE</p>
    <div class="container text-center">
      <div class="row">
          <a target="_blank" href="https://open.spotify.com/album/0Lx1HffZhlsXR7zYr4P1Ji"><img width="75" height="75" src="/img/spotify.png"></a>
          <a target="_blank" href="https://music.apple.com/us/album/almost-there/1634810824?uo=4"><img width="75" height="75" src="/img/apple-music.png"></a>
          <a target="_blank" href="https://www.youtube.com/watch?v=9AVqqpuDBOQ&list=OLAK5uy_kcfzeQxxf1FTGuMogF6dWGAkiRqadqXGw&ab_channel=Thursday%27sFlight-Topic"><img width="75" height="75" src="/img/youtube.png"></a>
        </div>
      </div>
    </div>
  </div>
</header>
