<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/custom.js"></script>

<script>
// Ensure Bootstrap tabs work properly
$(document).ready(function() {
  // Initialize all Bootstrap components
  $('[data-toggle="tab"]').tab();
  
  // Additional tab initialization for our custom tabs
  $('#gigTabs a').on('click', function (e) {
    e.preventDefault();
    $(this).tab('show');
  });
});
</script>